.form-control:focus {
  border-color: #343a40;
  box-shadow: 0 0 0 0.2rem rgb(52 58 64 / 50%);
}

.arrow {
  transition: transform 0.2s;

  &__icon {
    border: solid #343a40;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotateZ(-135deg);
  }

  &--down {
    transform: rotateX(180deg);
  }
}
