<div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-7 mr-auto ml-auto">
  <form [formGroup]="userItemsForm">
    <div class="input-group input-group-sm my-3">
      <input type="text" formControlName="title" id="titleInput" class="form-control col-4" placeholder="Title"
             [ngClass]="{'is-invalid': userItemsForm.controls.title.touched && userItemsForm.controls.title.hasError('required')}">
      <input type="text" formControlName="content" id="contentInput" class="form-control col-8" placeholder="Content"
             [ngClass]="{'is-invalid': userItemsForm.controls.content.touched && userItemsForm.controls.content.hasError('required')}">
      <div class="input-group-append">
        <button class="btn btn-outline-dark" type="button" (click)="addUserItem()">Add item</button>
      </div>
    </div>
  </form>
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="cursorPointer userSelectNone col-4" (click)="sortItems('title')">
          <div class="d-flex justify-content-between">
            <span>Title</span>
            <div class="mx-2" *ngIf="sortingColumn === 'title'">
              <div class="arrow" [ngClass]="{'arrow--down': descendingDirection}">
                <i class="arrow__icon"></i>
              </div>
            </div>
          </div>
        </th>
        <th scope="col" class="cursorPointer userSelectNone col-8" (click)="sortItems('content')">
          <div class="d-flex justify-content-between">
            <span>Content</span>
            <div class="mx-2" *ngIf="sortingColumn === 'content'">
              <div class="arrow" [ngClass]="{'arrow--down': descendingDirection}">
                <i class="arrow__icon"></i>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemsList">
        <td>{{item.title}}</td>
        <td>{{item.content}}</td>
      </tr>
    </tbody>
  </table>
</div>